.navbar-test {
  background-color:#52007C;

}
.aboutMePage{
    height: 100vh;
    background-color: black;
  }

.aboutMeBeginning{
  margin-top: 15vh;
  color: white;
  height: 100vh;
  background-size: cover;
  overflow-y:auto;
  margin-left: auto;
  margin-right: auto;
}

.aboutMeBeginning p {
  font-size: 30px;
}

.aboutMeBeginningLeft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30vh;
  height: 20vh;
  background-color:#9253cb;
  color: white;
}

.aboutMeBeginningLeft p {
  border-left: 3px solid  black;
  font-size: 20px;
  cursor: pointer;
}

.aboutMeBeginningLeft p {
  padding-left: 10px;
}

.overviewElements{
  opacity: 0;
  border-left: 3px solid  #9253cb;
	animation: fadeInOverview 1s ease-in both;
}

@keyframes fadeInOverview {
	from {
		opacity: 0;
		transform: translate3d(0, -80%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@media screen and (max-width: 1024px) {
  .aboutMeBeginningLeft p {
    font-size: 12px;
  }
}

@media screen and (max-width: 950px) {
  .aboutMeBeginningLeft p {
    font-size: 12px;
  }
}

@media screen and (max-width: 650px) {
  .aboutMeBeginningLeft p {
    font-size: 10px;
  }

}

@media screen and (max-width: 480px) {
  .aboutMeBeginningLeft p {
    font-size: 10px;
  }
}


