
.aboutMePage{
    margin-top: 15vh;
    height: 100vh;
  }

.aboutMeBeginning{
  background-color: cadetblue;
  color: white;
  height: 100vh;
  background-size: cover;
}

.aboutMeBeginningLeft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: white;
}
