body{
  background: url('../img/dawn.jpg') no-repeat center center fixed;
  background-size: cover;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.navbarTitle {
  font-size: 50px;
  font-family: 'Dosis', sans-serif;
}

.homePageAnimation{
  width: 230px;
  font-size: 40px;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  color: white;
  margin-left: auto;
  margin-top: 25vh;
}

.frontpageTextAnimation {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .20em; /* Adjust as needed */
  animation: 
    typing 1.5s steps(100, end),
    blink-caret .75s step-end infinite;
}

.frontpageTextAnimationBack {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid olivedrab; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .20em; /* Adjust as needed */
  animation: 
    typingback 0.5s steps(60,end);
}

.newsHomePage{
  margin-top: 10vh;
}



@media (min-aspect-ratio: 16/9) {
  .video-container {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-container {
    width: auto;
    height: 100%;
  }
}

@media screen and (max-width: 1024px) {
    .navbarTitle {
      font-size: 40px;
    }
    .homePageAnimation{
      font-size: 30px;
      width: 150px;
    }
  }
  
  @media screen and (max-width: 950px) {
    .navbarTitle {
      font-size: 30px;
    }
    .homePageAnimation{
      font-size: 20px;
      width: 120px;
    }
  }
  
  @media screen and (max-width: 650px) {
    .navbarTitle {
      font-size: 20px;
    }
    .homePageAnimation{
      font-size: 20px;
      width: 120px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .navbarTitle {
      font-size: 10px;
    }
    .homePageAnimation{
      font-size: 20px;
      width: 120px;
    }
  }

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
    from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 4s;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes typingback {
  from { width: 100% }
  to { width: 0 }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: olivedrab }
}
