html, body {
  min-height: 100%;
  overflow: hidden;
}

body{
  scrollbar-width: thin;
}

/*
body{
  background: url('../img/dawn.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow-y: hidden;
}
*/

.homePage{
  background-color: #e7e7e7;
  background-repeat: repeat;
  padding-left: 40px;
  height: 100%;
  overflow: auto;
  position: absolute;
}

.navbarTitle {
  font-size: 28px;
  letter-spacing: 2px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}

.navbarTitle p {
  padding-top: 15px;
}


.navbarLinks {
  font-size: 18px;
  font-family: 'Dosis', sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  animation: showNavbarLinks 0.4s ease-out;
  animation-fill-mode: forwards;
}

.navbarLinksHidden{
  font-size: 18px;
  font-family: 'Dosis', sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  animation: hideNavbarLinks 0.4s ease-in;
  animation-fill-mode: forwards;
}

.navbarLinksHidden p{
  margin-right: 60px;
  padding-top: 15px;
}

.navbarLinks p {
  margin-right: 60px;
  padding-top: 15px;
}

.navbarCollapse {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, white 50%, #D2F4FF 50%);
  transition: background-position 0.3s;
  
}

.navbarCollapse:hover{
  cursor: pointer;
  background-position: 0 -100%;
}

.navbarCollapse .line {
  width: 35px;
  height: 2px;
  background-color: black;
  display: block;
  margin-bottom: 6px;
  transition: all 0.3s ease-in-out;
}


.isActive{
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  /*
    Remmoving the block of code below removes the             secondary animation
  -webkit-transform: rotate(45deg); 
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  */
}

.isActive .line:nth-child(2){
  width: 0px;
}

.isActive .line:nth-child(1),
.isActive .line:nth-child(3){
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.isActive .line:nth-child(1){
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
}

.isActive .line:nth-child(3){
  -webkit-transform: translateY(-5px) rotate(90deg);
  -ms-transform: translateY(-5px) rotate(90deg);
  -o-transform: translateY(-5px) rotate(90deg);
  transform: translateY(-5px) rotate(90deg);
}

.activeClick .line:nth-child(1){
  -webkit-transform: translateY(5px) rotate(45deg);
  -ms-transform: translateY(5px) rotate(45deg);
  -o-transform: translateY(5px) rotate(45deg);
  transform: translateY(5px) rotate(45deg);

}

.activeClick .line:nth-child(3){
  -webkit-transform: translateY(-10px) rotate(135deg);
  -ms-transform: translateY(-10px) rotate(135deg);
  -o-transform: translateY(-10px) rotate(135deg);
  transform: translateY(-10px) rotate(135deg);
}



@keyframes hideNavbarLinks{
  0%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    transform: translate3d(0, -80%, 0);
    opacity: 0;
  }
}

@keyframes showNavbarLinks{
  0%{
    transform: translate3d(0, -80%, 0);
    opacity: 0;
  }
  50%{
    opacity: 0.3;
  }
  100%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}


.animatedText{
  font-size: 40px;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  width: 230px;
  margin-top: 15vh;
  margin-left: auto;
  margin-right:auto;
}

.frontpageTextAnimation {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  color: white;
  border-right: .1em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .20em; /* Adjust as needed */
  animation: 
    typing 1.5s steps(100, end),
    blink-caret .75s step-end infinite;
}

.frontpageTextAnimationBack {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  color: white;
  border-right: .1em solid olivedrab; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .20em; /* Adjust as needed */
  animation: 
    typingback 0.5s steps(60,end);
}

.newsHomePage{
  margin-top: 100px;
}

.newsHomePageCarousel{
  margin-left: auto;
  margin-right: 0;
}

.blackMask{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-color: rgba(0,0,0,.7);
}


.iconsHomePage{
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  margin-left: 10vw;
  font-size: 60px;
  border-width: 0.5em;
  color: white;
}

.iconsHomePage a:link{
  text-decoration: none;
  color: white;
}

.iconsHomePage a:hover{
  color: white;
}

.iconsHomePage a:active{
  color: white;
}

.iconsHomePage a:visited{
  color: white;
}


@media (min-aspect-ratio: 16/9) {
  .video-container {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-container {
    width: auto;
    height: 100%;
  }
}

@media screen and (max-width: 1024px) {
    .navbarTitle {
      font-size: 40px;
    }
    .animatedText{
      font-size: 30px;
      width: 150px;
    }
    .newsHomePageCarousel{
      margin-right: auto;
    }
    .iconsHomePage{
      margin-left: 7vw;
      font-size: 50px;
    }
  }
  
  @media screen and (max-width: 950px) {
    .navbarTitle {
      font-size: 30px;
    }
    .animatedText{
      font-size: 25px;
      width: 140px;
    }
    .newsHomePageCarousel{
      margin-right: auto;
    }
    .iconsHomePage{
      margin-left: 7vw;
      font-size: 45px;
    }
  }
  
  @media screen and (max-width: 650px) {
    .navbarTitle {
      font-size: 25px;
    }
    .animatedText{
      font-size: 20px;
      width: 140px;
      margin-top: 10vh;
    }
    .newsHomePageCarousel{
      margin-right: auto;
    }
    .iconsHomePage{
      margin-left: 1vw;
      font-size: 35px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .navbarTitle {
      font-size: 25px;
    }
    .animatedText{
      font-size: 20px;
      width: 140px;
      margin-top: 10vh;
    }
    .newsHomePageCarousel{
      margin-right: auto;
    }
    .iconsHomePage{
      margin-left: 1vw;
      font-size: 35px;
    }
  }

  @media screen and (max-height: 768px){
    .iconsHomePage{
      margin-top: 10vw;
    }
  }

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes typingback {
  from { width: 100% }
  to { width: 0 }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: olivedrab }
}
