body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.navbarTitle {
  font-size: 50px;
  font-family: 'Dosis', sans-serif;
}

@media (min-aspect-ratio: 16/9) {
  .video-container {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-container {
    width: auto;
    height: 100%;
  }
}

@media screen and (max-width: 1024px) {
    .navbarTitle {
      font-size: 40px;
    }
  }
  
  @media screen and (max-width: 950px) {
    .navbarTitle {
      font-size: 30px;
    } 
  }
  
  
  @media screen and (max-width: 650px) {
    .navbarTitle {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .navbarTitle {
      font-size: 10px;
    }
  }

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
    from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 4s;
}

.homePageAnimation{
  margin-left: auto;
  margin-right: auto;
  margin-top: 370px;
  color: green;
  width: 200px;
  border: 2px solid;
  border-radius: 3em;
  border-color: red;
  text-align: center;
}