body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.blackMasktest{
  margin-left: 73vw;
  background-color: rgba(0,0,0,0.7);
}

@media screen and (max-width: 650px) {
    .blackMasktest{
      margin-left: 65vw;
    }
}

@media screen and (max-width: 480px) {
    .blackMasktest{
      margin-left: 60vw;
    }
}
