
  .ocean {
    position: absolute;
    width: 99vw;
    height: 87vh;
  }
    
  .boat-animation {
    height: 330px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  
  .waves--front {
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
    -webkit-filter: url("#drop-shadow");
            filter: url("#drop-shadow");
    -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
            filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
    -webkit-animation-name: sway--front;
            animation-name: sway--front;
    z-index: 3;
  }
  
  .waves--rear {
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
    -webkit-filter: url("#drop-shadow");
            filter: url("#drop-shadow");
    -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
            filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    -webkit-animation-name: sway--rear;
            animation-name: sway--rear;
    z-index: 1;
  }
  
  .waves {
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
            animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    max-width: none;
    height: auto;
    pointer-events: none;
    width: 600px;
  }
  
  .paperboat {
    position: absolute;
    height: auto;
    z-index: 2;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
            animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-animation-name: swim;
            animation-name: swim;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    width: 80px;
    bottom: 54px;
    left: calc(85px + (100vw - 320px) * 0.3);
  }
  
  .paperboat:hover {
    cursor: pointer;
  }
  
  @media (min-width: 440px) {
    .waves {
      width: 1000px;
    }
  
    .paperboat {
      width: 100px;
      bottom: 110px;
      left: calc(90px + (100vw - 320px) * 0.3);
    }
  
    @-webkit-keyframes swim {
      0% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -8deg) translateY(10px);
                transform: rotate3d(0, 0, 1, -8deg) translateY(10px);
      }
      46% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -1deg) translateY(18px);
                transform: rotate3d(0, 0, 1, -1deg) translateY(18px);
      }
      100% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -8deg) translateY(10px);
                transform: rotate3d(0, 0, 1, -8deg) translateY(10px);
      }
    }
  
    @keyframes swim {
      0% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -8deg) translateY(10px);
                transform: rotate3d(0, 0, 1, -8deg) translateY(10px);
      }
      46% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -1deg) translateY(18px);
                transform: rotate3d(0, 0, 1, -1deg) translateY(18px);
      }
      100% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -8deg) translateY(10px);
                transform: rotate3d(0, 0, 1, -8deg) translateY(10px);
      }
    }
  }
  @media (min-width: 560px) {
    .paperboat {
      left: calc(100px + (100vw - 320px) * 0.4);
    }
  }
  @media (min-width: 800px) {
    .waves--front {
      filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
      -webkit-filter: url("#drop-shadow");
              filter: url("#drop-shadow");
      -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
              filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
    }
  
    .waves--rear {
      filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
      -webkit-filter: url("#drop-shadow");
              filter: url("#drop-shadow");
      -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
              filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
    }
  
    .waves {
      width: 1500px;
    }
  
    .paperboat {
      width: 110px;
      bottom: 162px;
      left: calc(100px + (100vw - 320px) * 0.4);
    }
  
    @-webkit-keyframes swim {
      0% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -8deg) translateY(0px);
                transform: rotate3d(0, 0, 1, -8deg) translateY(0px);
      }
      46% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -1deg) translateY(15px);
                transform: rotate3d(0, 0, 1, -1deg) translateY(15px);
      }
      100% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -8deg) translateY(0px);
                transform: rotate3d(0, 0, 1, -8deg) translateY(0px);
      }
    }
  
    @keyframes swim {
      0% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -8deg) translateY(0px);
                transform: rotate3d(0, 0, 1, -8deg) translateY(0px);
      }
      46% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -1deg) translateY(15px);
                transform: rotate3d(0, 0, 1, -1deg) translateY(15px);
      }
      100% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -8deg) translateY(0px);
                transform: rotate3d(0, 0, 1, -8deg) translateY(0px);
      }
    }
  }
  @media (min-width: 1200px) {
    .waves {
      width: 1800px;
    }
  
    .paperboat {
      width: 130px;
      bottom: 194px;
    }
  }
  @media (min-width: 1550px) {
    .waves {
      width: 2000px;
    }
  
    .paperboat {
      width: 130px;
      bottom: 215px;
      left: calc(100px + (100vw - 320px) * 0.4);
    }
  }
  @media (min-width: 1700px) {
    .waves {
      width: 2300px;
      bottom: -33px;
    }
  
    .waves--front {
      filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
      -webkit-filter: url("#drop-shadow");
              filter: url("#drop-shadow");
      -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.01));
              filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.01));
    }
  
    .waves--rear {
      filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
      -webkit-filter: url("#drop-shadow");
              filter: url("#drop-shadow");
      -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
              filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
    }
  }
  @media (min-width: 1970px) {
    .waves {
      width: 2600px;
      bottom: -70px;
    }
  
    .paperboat {
      width: 135px;
      bottom: 212px;
      left: calc(100px + (100vw - 320px) * 0.4);
    }
  
    @-webkit-keyframes swim {
      0% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -11deg) translateY(-1px);
                transform: rotate3d(0, 0, 1, -11deg) translateY(-1px);
      }
      48% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -2deg) translateY(19px);
                transform: rotate3d(0, 0, 1, -2deg) translateY(19px);
      }
      100% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -11deg) translateY(-1px);
                transform: rotate3d(0, 0, 1, -11deg) translateY(-1px);
      }
    }
  
    @keyframes swim {
      0% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -11deg) translateY(-1px);
                transform: rotate3d(0, 0, 1, -11deg) translateY(-1px);
      }
      48% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -2deg) translateY(19px);
                transform: rotate3d(0, 0, 1, -2deg) translateY(19px);
      }
      100% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -11deg) translateY(-1px);
                transform: rotate3d(0, 0, 1, -11deg) translateY(-1px);
      }
    }
  }
  @media (min-width: 2230px) {
    .waves {
      width: 3000px;
      bottom: -113px;
    }
  
    .paperboat {
      width: 135px;
      bottom: 214px;
      left: calc(100px + (100vw - 320px) * 0.4);
    }
  
    @-webkit-keyframes swim {
      0% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -11deg) translateY(-1px);
                transform: rotate3d(0, 0, 1, -11deg) translateY(-1px);
      }
      48% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -2deg) translateY(19px);
                transform: rotate3d(0, 0, 1, -2deg) translateY(19px);
      }
      100% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -11deg) translateY(-1px);
                transform: rotate3d(0, 0, 1, -11deg) translateY(-1px);
      }
    }
  
    @keyframes swim {
      0% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -11deg) translateY(-1px);
                transform: rotate3d(0, 0, 1, -11deg) translateY(-1px);
      }
      48% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -2deg) translateY(19px);
                transform: rotate3d(0, 0, 1, -2deg) translateY(19px);
      }
      100% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -11deg) translateY(-1px);
                transform: rotate3d(0, 0, 1, -11deg) translateY(-1px);
      }
    }
  }
  @media (min-width: 0px) and (max-width: 439px) {
    @-webkit-keyframes swim {
      0% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -8deg) translateY(7px);
                transform: rotate3d(0, 0, 1, -8deg) translateY(7px);
      }
      46% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -1deg) translateY(12px);
                transform: rotate3d(0, 0, 1, -1deg) translateY(12px);
      }
      100% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -8deg) translateY(7px);
                transform: rotate3d(0, 0, 1, -8deg) translateY(7px);
      }
    }
    @keyframes swim {
      0% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -8deg) translateY(7px);
                transform: rotate3d(0, 0, 1, -8deg) translateY(7px);
      }
      46% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -1deg) translateY(12px);
                transform: rotate3d(0, 0, 1, -1deg) translateY(12px);
      }
      100% {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -8deg) translateY(7px);
                transform: rotate3d(0, 0, 1, -8deg) translateY(7px);
      }
    }
  }
  @-webkit-keyframes sway--front {
    0% {
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transform: translateX(calc(-46% - 3%));
              transform: translateX(calc(-46% - 3%));
    }
    50% {
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transform: translateX(calc(-46% + 3%));
              transform: translateX(calc(-46% + 3%));
    }
    100% {
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transform: translateX(calc(-46% - 3%));
              transform: translateX(calc(-46% - 3%));
    }
  }
  @keyframes sway--front {
    0% {
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transform: translateX(calc(-46% - 3%));
              transform: translateX(calc(-46% - 3%));
    }
    50% {
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transform: translateX(calc(-46% + 3%));
              transform: translateX(calc(-46% + 3%));
    }
    100% {
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transform: translateX(calc(-46% - 3%));
              transform: translateX(calc(-46% - 3%));
    }
  }
  @-webkit-keyframes sway--rear {
    0% {
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transform: translateX(calc(-54% + 3%));
              transform: translateX(calc(-54% + 3%));
    }
    50% {
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transform: translateX(calc(-54% - 3%));
              transform: translateX(calc(-54% - 3%));
    }
    100% {
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transform: translateX(calc(-54% + 3%));
              transform: translateX(calc(-54% + 3%));
    }
  }
  @keyframes sway--rear {
    0% {
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transform: translateX(calc(-54% + 3%));
              transform: translateX(calc(-54% + 3%));
    }
    50% {
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transform: translateX(calc(-54% - 3%));
              transform: translateX(calc(-54% - 3%));
    }
    100% {
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transform: translateX(calc(-54% + 3%));
              transform: translateX(calc(-54% + 3%));
    }
  }

.rainMask{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        width: 100%;
        height: 73%;
        z-index: 999;
}


