.navbar-project {
    background-color:#1d1350

}

.projectsPage{
    height: 100vh;
    margin-top: 9vh;
    z-index: 1;
    background-color: black;
}

.projectsPageDropdown{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    z-index: 2;
}

.projectsPageDropdownButton{
     margin-bottom: 1rem;
     margin-left: auto; 
     margin-right: auto;
     font-size: 20px;
     border-color: black;
     box-shadow: none;
     width: 200px;
}

.projectsPageDropdownButton:hover {
    border-color: black;
    box-shadow: none;
}

.projectsPageDropdownButton:focus{
    box-shadow: none;
}

.projectsBeginningLeftContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10vh;
}

.projectsPageDescription{
    margin-top: 15vh;
    height: 50vh;
    background-size: cover;
    overflow-y:auto;
    margin-left: auto;
    margin-right: auto;
}