.navbarTitle {
    font-size: 30px;
    letter-spacing: 2px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    margin-top: 15px;

    
}

.navbarTitle p {
    margin-top: 15px;
}

.titleIconExpand{
    -webkit-animation: titleIconExpand 0.4s ease-in;
            animation: titleIconExpand 0.4s ease-in;
            animation-fill-mode: forwards;
}

.titleIconContract{
    -webkit-animation: titleIconContract 0.4s ease-in;
            animation: titleIconContract 0.4s ease-in;
            animation-fill-mode: forwards;
}

.titleContractOut {
	-webkit-animation: titleContractOut 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: titleContractOut 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation-fill-mode: forwards;
}

.titleContractIn {
	-webkit-animation: titleContractIn 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: titleContractIn 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation-fill-mode: forwards;
}


/* Animation for 
.navbarTitle i {
    background: url("../img/water.png"); 
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite;
}

@keyframes animate {
    0% {
        background-position: left 0px top 150px; 
    }
    40%{
        background-position: left 800px top -10px;
    }
    80%{
        background-position: left 1600px top -10px;
    }
    100%{
        background-position: left 2400px top 150px;
    }
}
*/


.navbarLinks {
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    animation: showNavbarLinks 0.4s ease-out;
    animation-fill-mode: forwards;
    margin-top: 15px;
}

.navbarLinks p {
    margin-right: 60px;
    margin-top: 15px;
}

.navbarLinksHidden{
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    animation: hideNavbarLinks 0.4s ease-in;
    animation-fill-mode: forwards;
}

.navbarLinksHidden p{
    margin-right: 60px;
    margin-top: 15px;

}


.svg-wrap{
  position: relative;
}

.shape {
    stroke-dasharray: 100 400;
    stroke-dashoffset: -310;
    stroke-width: 3px;
    fill: transparent;
    stroke: black;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }

  .shape:hover{
      cursor: pointer;
  }

  .shapeAnimation {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
  }

.navbarCollapse {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, white 50%, #D2F4FF 50%);
    transition: background-position 0.3s;
    margin-bottom: -15px;

}

.navbarCollapse:hover{
    cursor: pointer;
    background-position: 0 -100%;
}

.navbarCollapse .line {
    width: 35px;
    height: 2px;
    background-color: black;
    display: block;
    margin-bottom: 6px;
    transition: all 0.3s ease-in-out;
}


.isActive{
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

/*
    Remmoving the block of code below removes the             secondary animation
-webkit-transform: rotate(45deg); 
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
*/
}

.isActive .line:nth-child(2){
    width: 0px;
}

.isActive .line:nth-child(1),
.isActive .line:nth-child(3){
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.isActive .line:nth-child(1){
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
}

.isActive .line:nth-child(3){
    -webkit-transform: translateY(-5px) rotate(90deg);
    -ms-transform: translateY(-5px) rotate(90deg);
    -o-transform: translateY(-5px) rotate(90deg);
    transform: translateY(-5px) rotate(90deg);
}

.activeClick .line:nth-child(1){
    -webkit-transform: translateY(5px) rotate(45deg);
    -ms-transform: translateY(5px) rotate(45deg);
    -o-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg);

}

.activeClick .line:nth-child(3){
    -webkit-transform: translateY(-10px) rotate(135deg);
    -ms-transform: translateY(-10px) rotate(135deg);
    -o-transform: translateY(-10px) rotate(135deg);
    transform: translateY(-10px) rotate(135deg);
}



@keyframes hideNavbarLinks{
    0%{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        transform: translate3d(0, -80%, 0);
        opacity: 0;
    }
}

@keyframes showNavbarLinks{
    0%{
        transform: translate3d(0, -80%, 0);
        opacity: 0;
    }
    50%{
        opacity: 0.3;
    }
    100%{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes titleContractOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        letter-spacing: -0.4em;
        opacity: 0;
    }
}
@keyframes titleContractOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        letter-spacing: -0.4em;
        opacity: 0;
    }
}

@keyframes titleContractIn {
    0% {
        opacity: 0;
        letter-spacing: -0.4em;
    }
    50% {
        opacity: 0;
    }
    100% {
        letter-spacing: 2px;
        opacity: 1;
    }
}

@keyframes titleIconExpand {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.4);
    }
}

@keyframes titleIconContract {
    0%{
        transform: scale(1.4);
    }
    100%{
        transform: scale(1);
    }
}

  

